In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("model_predictions.csv",header=None)
df.columns=["file_name","stack_size","class","iteration"]
df=df.sample(frac=1)

df

        file_name  stack_size  class  iteration
3626  a48fe_1.wav           1   kick       5191
542   16bd1_2.wav           2    hat        467
3756  6824b_2.wav           2   kick       5787
4200  38fe8_1.wav           1    hat       7928
3907  730b4_1.wav           1  snare       6523
...           ...         ...    ...        ...
3594  c119d_1.wav           1  snare       5015
4129  3d5f5_3.wav           3    hat       7623
1578  f27ca_2.wav           2  snare       4928
2629  a9def_2.wav           2    hat        377
2299  629de_1.wav           1    hat       8837

[4641 rows x 4 columns]

In [2]:
#how often does a stacksize result in a generation?
print(df.groupby('class').count())
print(df.groupby('stack_size').count())

       file_name  stack_size  iteration
class
clap         690         690        690
hat         2049        2049       2049
kick         804         804        804
snare       1098        1098       1098
            file_name  class  iteration
stack_size
1                2460   2460       2460
2                1207   1207       1207
3                 556    556        556
4                 272    272        272
5                 133    133        133
6                   4      4          4
7                   4      4          4
8                   3      3          3
9                   1      1          1
10                  1      1          1

In [3]:
df1=df[df["stack_size"]==1]
df2=df[df["stack_size"]==2]
df4=df[df["stack_size"]==4]

In [4]:
survey_rows=pd.concat([df1.groupby('class').head(25),df2.groupby('class').head(25),df4.groupby('class').head(25)])
survey_rows

        file_name  stack_size  class  iteration
3626  a48fe_1.wav           1   kick       5191
4200  38fe8_1.wav           1    hat       7928
3907  730b4_1.wav           1  snare       6523
2499  0d349_1.wav           1    hat       9694
4067  5478c_1.wav           1  snare       7225
...           ...         ...    ...        ...
3440  3c4d4_4.wav           4   clap       4372
2405  faa93_4.wav           4  snare       9259
3097  4d1db_4.wav           4   clap       2537
1216  a586f_4.wav           4   clap       2976
2382  7b3b9_4.wav           4  snare       9053

[300 rows x 4 columns]

In [19]:
from shutil import copyfile
import os
print(os.getcwd())
classes= ['clap', 'hat', 'kick', 'snare']


for i,n in survey_rows.iterrows():
    copyfile("mme_pack/"+n["class"]+"/"+n["file_name"], "survey2/"+n["file_name"])

sr=survey_rows.sort_values('file_name', ascending=True)
sr.to_csv("survey_answers.csv",index=False)

/home/asalimi/mir/Synths_Stacks_Search/structural_notebooks

In [21]:
surv=survey_rows[["file_name"]].copy()
surv=surv.sort_values('file_name', ascending=True)
surv=surv.reset_index(drop=True)
surv["class"]=""
surv.to_csv("survey.csv",index=False)